{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

</head>
{% endblock %}

{% block body %}
<body>
     
  
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <!-- Footer -->
  

</body>
</html>


{% endblock %}
