{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
    <h1>Ingrese los datos producto</h1>

    {{ include('producto/_form.html.twig') }}

    <a href="{{ path('home') }}">Volver a la pagina principal</a>
{% endblock %}
