{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block stylesheets %}
    <link href="asset/css/loginStyle.css"  rel="stylesheet" />
    {#<link href="bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet" />#}

{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
<body>

{{ form_start(form) }}
    <br>
    {{ form_row(form.username) }}
    <br>
    {{ form_row(form.password) }}
    <br>
    <button class="boton" type="submit">Registrar</button>
{{ form_end(form) }}
    <a href="http://localhost/login" class="linkeada">Volver</a>
</body>
{% endblock %}
